/target/
/bin/
.classpath
.project
.settings/
logfile.log.1
logfile.log.2
logfile.log.3
logfile.log.4
logfile.log.5
topology.log
/hs_err_pid6668.log
/hs_err_pid3736.log
/log.txt.0
/log.txt.1
/log.txt.2
/log.txt.3
/log.txt.4
/.pydevproject
/.gitignore
